span {
    font-style: italic;
    color: rgb(151, 2, 2);
}

button {
    font-size: x-large;
    padding: 5px 10px;
    margin: 5px;
;

}

.container_questionBox{
    border: dotted green;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin: auto;
}
