body{
    background-image: url("stucco.jpg");
    background-size: 100vw 100vh ;
    background-repeat: no-repeat;
}

span {
    font-style: italic;
    color: rgb(151, 2, 2);
}

h1, p{
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding-top: 8px;
    text-align: center;
}

p{
    font-size: 18px;
}

h3{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}

button {
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
    margin-right: 10px;
}

.answerButton{
    font-size: x-large;
    padding: 2px 10px;
    margin: 8px;
    display: block;
    background-color: beige;
}

.clicked{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.inactive{
    display: none;
}

#lowerNav>button{
    font-size: large;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: rgb(164, 251, 251);
    font-weight: 900;
}

#lowerNav{
    display: flex;
    flex-direction: row;
    position: relative;
    /* display: inline-flex; */
    margin: 0 auto;
    width: 50%;
    justify-content: space-evenly;
}

#feedbackBox{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    font-size: 26px;
    margin-top: 10px;
}

.questionBox {
       border: thick dashed green;
        border-radius: 10px;
        width: 50%;
        padding: 10px;
        margin: 5px auto;
        font-size: 28px;
}

#questionText{
    display: flex;
    justify-content: center;    
    /* padding: 300 auto; */
    margin-top: 5px;
    margin-bottom: 20px;
    width:100%;
    font-weight: 800;
}

#tidbitBox {
    display: flex;
    font-size: 22px;
    width: 60%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 10px;
    justify-content: center;
}